@import '../../../shared/variables.scss';

.section {
  background-color: $background;
  width: 100%;
  font-family: $fontFamily;
  color: $textColor;
  margin-top: -1px;
}

.wrapper {
  @include adaptive(padding-bottom, 600, 121);
  display: flex;
  justify-content: space-between;
}

.leftColumn {
  @include adaptive(width, 711, 286);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 747.5, 254);
    @include adaptive(height, 747.5, 254);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    opacity: 0.2;
    transform: rotate(147.49deg);
    @include adaptive(top, 0, 0);
    @include adaptive(left, 100, 15);
    z-index: 1;
    filter: blur(500px);
    // background: linear-gradient(90deg, #f43b47 0%, #453a94 100%);
  }

  &::after {
    content: '';
    @include adaptive(width, 214, 84);
    @include adaptive(height, 214, 84);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    @include adaptive(top, 355, 350);
    @include adaptive(left, 800, 218);
    z-index: 1;
    // background: linear-gradient(
    //   90deg,
    //   #b8cbb8 0%,
    //   #b8cbb8 0%,
    //   #b465da 0%,
    //   #cf6cc9 33%,
    //   #ee609c 66%,
    //   #ee609c 100%
    // );
    // border-image: linear-gradient(
    //   90deg,
    //   #b8cbb8 0%,
    //   #b8cbb8 0%,
    //   #b465da 0%,
    //   #cf6cc9 33%,
    //   #ee609c 66%,
    //   #ee609c 100%
    // );

    // box-shadow: 0 0 15px 1.5px #ee609c, 0 0 15px 1.5px #453a94,
    //   0 0 15px 1.5px #453a94, 0 0 15px 1.5px #ee609c;
  }
}

.header {
  @extend %fz-64;

  &Wrapper {
    @include adaptive(margin-bottom, 100, 50);
  }
}
.subheader {
  @extend %fz-24-38;
  @include adaptive(margin-bottom, 100, 50);
}

.rightColumn {
  @include adaptive(width, 673, 286);
  @include adaptive(margin-top, 97, 50);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 747.5, 254);
    @include adaptive(height, 747.5, 254);
    background: rgba(166, 91, 162, 0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    opacity: 0.2;
    filter: blur(500px);
    transform: rotate(147.49deg);
    @include adaptive(top, -600, 0);
    @include adaptive(left, -65, 15);
    z-index: 1;
  }

  &::after {
    content: '';
    @include adaptive(width, 101, 53);
    @include adaptive(height, 101, 53);
    border-radius: 50%;

    position: absolute;
    @include adaptive(top, -75, 125);
    @include adaptive(left, 700, -15);
    z-index: 1;
    // background: linear-gradient(90deg, #0250c5 0%, #d43f8d 100%);
    // border-image: linear-gradient(90deg, #0250c5 0%, #d43f8d 100%);
    // box-shadow: 5px 0 15px 5px #d43f8d, 0 0 35px -4px #d43f8d, 0 0 15px 4px #d43f8d, 0 0 15px 5px #d43f8d;
    // transform: rotate(270deg);
  }
}

.list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(1, minmax(285px, 1fr));
  column-gap: 20px;
  row-gap: 20px;

  &Item {
    position: relative;
    @include adaptivePadding(padding, 27, 35, 14, 20);
    background: rgba(255, 255, 255, 0.02);
    color: $mainColor;
    border-radius: 2px;
    border: 1px solid;
    letter-spacing: 0.03em;
    @extend %fz-24-30;
    z-index: 5;
    border-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    backdrop-filter: blur(30px);
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
