@import '../../../../shared/variables.scss';

.navbar {
  @include adaptive(width, 516, 320);
  @include adaptive(padding-top, 48, 17);
  position: absolute;
  right: 0;
  height: 99.9%;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
  border: none;
  overflow: hidden;
  @include adaptive(padding-right, 158, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    transition-property: visibility;
    transition-timing-function: linear;
    z-index: 10;

    &IsOpened {
      visibility: visible;
      transition-property: visibility;
      transition-duration: 0.5s;
      transition-timing-function: linear;
    }

    &IsClosed {
      visibility: hidden;
      transition-property: visibility;
      transition-duration: 0.5s;
      transition-timing-function: linear;
    }
  }

  &IsOpened {
    flex-direction: column;
    position: absolute;
    background-color: $navbarBackground;
    transform: translateX(0);
    z-index: 5;
  }

  &IsClosed {
    background-color: $navbarBackground;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  &Close {
    background-image: url('./images/Close.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    background-size: cover;
    @include adaptive(width, 47, 18);
    @include adaptive(height, 47, 18);

    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 0.5;
      transition: 0.4s;
    }
  }
}

.header {
  @include adaptive(margin-left, 50, 17);
  @include adaptive(margin-bottom, 158, 73);
  display: flex;
  justify-content: flex-end;
}

.logo {
  @include adaptive(width, 68, 30);
  @include adaptive(height, 47, 21);
  @include adaptive(column-gap, 22, 10);
  justify-content: space-between;
  align-items: center;
  display: none;
}
.titleLogo {
  color: $mainColor;
  font-weight: 600;
  @extend %fz-18-8;
  display: none;
}

.navbarList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
}

.list {
  margin: 0;
  padding: 0;

  &Item {
    @extend %fz-18-14;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    @include adaptive(margin-bottom, 40, 30);

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }

  &ItemLink {
    color: $linkColor;
    cursor: pointer;

    &:hover {
      color: $linkActiveColor;
      transition: 0.7s;
    }
  }
}

%addressListItem {
  font-family: $fontFamily;
  @extend %fz-18-22-12-15;
  text-align: end;
  letter-spacing: 0.05em;
  color: $linkColor;
  opacity: 0.8;
  @include adaptive(margin-bottom, 14, 10);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 18, 11);
    @include adaptive(height, 18, 11);
    @include adaptive(top, 0, 5);
    @include adaptive(left, -30, 25);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.addressList {
  text-decoration: none;

  &Wrapper {
    @include adaptive(margin-left, 180, 101);
    @include adaptive(margin-bottom, 40, 20);
  }
}

.email {
  @extend %addressListItem;

  &::before {
    @include adaptive(width, 24, 15);
    @include adaptive(height, 24, 15);
    background-image: url('./images/Mail.svg');
  }
}

.phone {
  @extend %addressListItem;

  &::before {
    background-image: url('./images/Phone.svg');

    @include adaptive(top, 0, 5);
    @include adaptive(left, -15, 35);
  }
}

@media screen and (max-width: 767px) {
  .header {
    justify-content: space-between;
    @include adaptive(margin-right, 25, 17);
  }

  .navbar {
    width: 100%;
    padding-right: 0;

    &List {
      align-items: center;
      width: 100%;
    }
  }
  .listItem {
    text-align: center;
  }

  .logo {
    display: flex;
  }
  .titleLogo {
    display: block;
  }

  .addressListWrapper {
    @include adaptive(margin-right, 25, 17);
  }

  .email {
    &::before {
      @include adaptive(top, 0, 5);
      @include adaptive(left, 950, 5);
    }
  }

  .phone::before {
    @include adaptive(top, 0, 5);
    @include adaptive(left, 1000, 15);
  }
}
