@import '../../../shared/variables.scss';

.section {
  background: $background;
  margin-top: -1px;
  // overflow: hidden;
}

.wrapper {
  @include adaptive(padding-bottom, 493, 132);
}

.header {
  @include adaptive(margin-bottom, 110, 57);
  position: relative;
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 170, 145);
    @include adaptive(height, 170, 145);
    border-radius: 50%;
    border: none;
    background: linear-gradient(90deg, #fc6076 0%, #ff9a44 100%);
    border-image: linear-gradient(rgba(252, 96, 118, 1), rgba(255, 154, 68, 1));
    @include adaptive(top, -350, 120);
    @include adaptive(left, -230, 200);
    z-index: -1;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: $textColor;
  font-family: $fontFamily;
  @extend %fz-24-38;
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 147, 67);
    @include adaptive(height, 147, 67);
    border-radius: 50%;
    border: none;
    background: linear-gradient(90deg, #0250c5 0%, #d43f8d 100%);
    border-image: linear-gradient(90deg, #0250c5 0%, #d43f8d 100%);
    @include adaptive(top, 250, 260);
    @include adaptive(left, 480, 160);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    @include adaptive(width, 66, 21);
    @include adaptive(height, 66, 21);
    border-radius: 50%;
    border: none;
    background: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
    border-image: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
    @include adaptive(top, -180, 240);
    @include adaptive(left, 1080, -15);
    z-index: -1;
  }
}

.subheader {
  @extend %fz-24-30-14-17;
  text-transform: uppercase;
  @include adaptive(margin-left, 70, 41);
  @include adaptive(margin-bottom, 30, 21);
}

%listItem {
  @include adaptive(width, 351, 198);
  position: relative;
  z-index: 5;
  letter-spacing: 0.03em;
}

.listItemMobile {
  @extend %listItem;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 50, 36);
    @include adaptive(height, 50, 36);
    background-image: url('./images/MobileFirst.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -10px;
    left: 0;
  }
}

.listItemSecure {
  @extend %listItem;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 50, 36);
    @include adaptive(height, 50, 36);
    background-image: url('./images/TopSecure.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -10px;
    left: 0;
  }
}

.listItemUserFriendly {
  @extend %listItem;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 50, 36);
    @include adaptive(height, 50, 36);
    background-image: url('./images/UserFriendly.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -10px;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .list {
    flex-direction: column;
  }

  %listItem {
    margin-bottom: 27px;
  }
}
