@import '../../../shared/variables.scss';

%formItem {
  @include adaptive(height, 117, 58);
  @include adaptivePadding(padding, 44, 39, 22, 25);
  @include adaptive(margin-bottom, 20, 10);
  border: 1px solid;
  border-image: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(50px);
  border-radius: 2px;
  color: $textColor;
  outline: none;

  &::placeholder {
    color: $textColor;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
}

%addressListItem {
  font-family: $fontFamily;
  @extend %fz-24-29;
  text-align: start;
  letter-spacing: 0.05em;
  color: $linkColor;
  opacity: 0.8;
  @include adaptive(margin-bottom, 44, 11);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 39, 11);
    @include adaptive(height, 39, 11);
    @include adaptive(top, -5, 2);
    @include adaptive(left, -56, -18);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.section {
  background-color: $background;
  color: $textColor;
  font-family: $fontFamily;
  margin-top: -1px;

  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-image: url('./images/Background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    @include adaptive(top, -100, 420);
    @include adaptive(left, 0, 0);
    @include adaptive(height, 1113, 234);
  }
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

.form {
  display: flex;
  flex-direction: column;
  @include adaptive(width, 780, 320);
  @include adaptivePadding(padding, 75, 60, 38, 17);
  @include adaptive(margin-bottom, 70, 51);
  padding-bottom: 0;
  border: 1px solid;
  border-image: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
}

.formName {
  @extend %formItem;
}

.formEmail {
  @extend %formItem;
}

.comments {
  @extend %formItem;
  border: none;
  outline: none;
  resize: none;
  overflow-y: hidden;
  @include adaptive(margin-bottom, 45, 23);
}

.agreement {
  position: relative;
  display: flex;
  @include adaptive(margin-bottom, 44, 23);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.pseudoItem {
  display: inline-block;
  vertical-align: middle;
  @include adaptive(width, 40, 20);
  @include adaptive(height, 40, 20);
  background: rgb(133, 133, 133);
  border-radius: 5px;
  cursor: pointer;

  &:focus {
    background: #ffffff;
    opacity: 0.6;
  }

  &:disabled {
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.2;
  }
}

.checkbox:checked + .pseudoItem {
  background-image: url('./images/Tick.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 16px 18px;
}

.checkboxText {
  @include adaptive(width, 401, 251);
  @include adaptive(margin-left, 22, 14);

  @extend %fz-18-23;
  color: rgba(244, 244, 244, 0.6);
}

.link {
  color: $linkColor;
  opacity: 1;
}

.formSubmit {
  @include adaptive(width, 400, 183);
  @include adaptive(margin-bottom, 74, 34);
}

.addressListWrapper {
  @include adaptive(padding-bottom, 72, 63);
  z-index: 1;
}

.addressList {
  text-decoration: none;
}

.address {
  @extend %addressListItem;

  &::before {
    background-image: url('./images/Compass.svg');
  }
}

.email {
  @extend %addressListItem;

  &::before {
    background-image: url('./images/Mail.svg');
  }
}

.phone {
  @extend %addressListItem;
  margin-bottom: 0;

  &::before {
    background-image: url('./images/Phone.svg');
  }
}

@media screen and (max-width: 787px) {
  .formWrapper {
    flex-direction: column;
    align-items: center;
  }
}
