@import '../../shared/variables.scss';

.header {
  @include adaptivePadding(padding, 20, 0, 15, 0);
  // @include adaptive(height, 145, 51);
  background-color: $background;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.wrapper {
  @extend %flex;
}
.logo {
  @extend %flex;
  @include adaptive(width, 68, 30);
  @include adaptive(height, 47, 21);
  position: relative;
  z-index: 1;
}
.logoImg {
  @include adaptive(width, 68, 30);
  @include adaptive(height, 47, 21);
  @include adaptive(margin-right, 22, 10);
}
.logoTitle {
  @extend %fonts;
  @extend %fz-18-8;
  color: $mainColor;
  font-weight: 600;
}
.buttons {
  display: flex;
  align-items: center;
  column-gap: 70px;
}

.switcherEnter {
  transition: opacity 300ms;
}

.switcherEnterActive {
  opacity: 0;
}
.switcherEnterDone {
  opacity: 0;
}
.switcherExit {
  opacity: 0;
}
.switcherExitActive {
  opacity: 1;
}
.switcherExitDone {
  transition: opacity 300ms;
}
