@import '../../../shared/variables.scss';

.section {
  background-color: $background;
  margin-top: -1px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url('./images/Vector.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    @include adaptive(height, 1032, 167);
    @include adaptive(top, 100, -10);
    left: 0;
    z-index: 0;
  }
}

.wrapper {
  @include adaptive(padding-bottom, 350, 165);
  position: relative;
  z-index: 1;
}

.header {
  @include adaptive(margin-bottom, 100, 76);
  position: relative;
  z-index: 2;
}

.listWrapper {
  @include adaptive(margin-bottom, 100, 112);
}

.list {
  display: flex;
  justify-content: space-between;
}

.listItem {
  @include adaptive(width, 430, 285);
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(30px);
  border-radius: 2px;
  border: 1px solid;
  border-image: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  @include adaptivePadding(padding, 0, 37, 0, 27);
  @include adaptive(padding-top, 45, 26);
  @include adaptive(padding-bottom, 44, 27);
}

.listItemImage {
  @include adaptive(width, 355, 236);
  @include adaptive(height, 296, 212);
  @include adaptive(margin-bottom, 31, 20);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription {
  @extend %fz-24-38;
  font-family: $fontFamily;
  color: $textColor;
  margin-left: 40px;
  vertical-align: middle;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .list {
    flex-direction: column;
    align-items: center;
  }

  .listItem {
    @include adaptive(margin-bottom, 60, 20);
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .subscription {
    margin-left: 0;
    @include adaptive(margin-bottom, 40, 20);
  }
}
