@import '../../../shared/variables.scss';

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
  }
}

.banner {
  @extend %fonts;
  background-color: $background;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 763, 263);
    @include adaptive(height, 869, 300);
    @include adaptive(top, 100, 400);
    @include adaptive(left, 1250, 100);
    background-image: url('./images/Wave.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 960px) {
    &Margin {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    @include adaptive(width, 837, 344);
    @include adaptive(height, 837, 344);
    border-radius: 50%;
    border: none;
    background: linear-gradient(90deg, #30cfd0 0%, #330867 100%);
    border-image: linear-gradient(90deg, #30cfd0 0%, #330867 100%);
    @include adaptive(top, 200, 60);
    @include adaptive(left, -500, -250);
    box-shadow: 0 0 25px 1.5px #330867, 0 0 25px 1.5px #30cfd0,
      0 0 25px 1.5px #330867, 0 0 25px 1.5px #330867;
  }
}
.bannerWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  @include adaptive(padding-top, 48, 15);
  @include adaptive(margin-bottom, 187, 58);
  @extend %flex;
}
.logo {
  @include adaptive(width, 68, 30);
  @include adaptive(height, 47, 21);
  @include adaptive(column-gap, 22, 10);
  @extend %flex;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 200, 52);
    @include adaptive(height, 200, 52);
    border-radius: 50%;
    border: none;
    background: linear-gradient(90deg, #0250c5 0%, #d43f8d 100%);
    border-image: linear-gradient(90deg, #0250c5 0%, #d43f8d 100%);
    @include adaptive(top, 440, 510);
    @include adaptive(left, 710, -10);
    box-shadow: 0 0 25px 1.5px #d43f8d, 0 0 25px 1.5px #d43f8d,
      0 0 25px 1.5px #0250c5, 0 0 25px 1.5px #0250c5;
  }

  .imgLogo {
    @include adaptive(width, 68, 30);
    @include adaptive(height, 47, 21);
  }

  &::after {
    content: '';
    position: absolute;
    @include adaptive(width, 101, 30);
    @include adaptive(height, 101, 30);
    border-radius: 50%;
    border: none;
    border-image: linear-gradient(90deg, #fc6076 0%, #ff9a44 100%);
    @include adaptive(top, 70, 65);
    @include adaptive(left, 820, 50);
    z-index: 5;
    box-shadow: 0 0 15px 0.5px #fc6076, 0 0 15px 0.5px #ff9a44,
      0 0 15px 0.5px #fc6076, 0 0 15px 0.5px #ff9a44;
    background: linear-gradient(90deg, #fc6076 0%, #ff9a44 100%);
  }
}
.titleLogo {
  color: $mainColor;
  font-weight: 600;
  @extend %fz-18-8;
}
.burger {
  position: relative;
  cursor: pointer;
  @include adaptive(width, 62, 30);
  @include adaptive(height, 37, 18);
  z-index: 1;

  &:hover {
    opacity: 0.7;
    transition: 0.5s;
  }
}

.burgerLine {
  @include adaptive(width, 61, 30);
  @include adaptive(height, 4, 2);
  background-color: $mainColor;
  border-radius: 3px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    @include adaptive(width, 49, 24);
    @include adaptive(height, 4, 2);
    background-color: $mainColor;
    border-radius: 3px;
    @include adaptive(top, 14, 6.5);
    @include adaptive(left, 12, 6);
  }

  &::after {
    content: '';
    position: absolute;
    @include adaptive(width, 61, 30);
    @include adaptive(height, 4, 2);
    background-color: $mainColor;
    border-radius: 3px;
    @include adaptive(top, 28, 14);
    @include adaptive(left, 0, 0);
  }
}

.body {
  @extend %flex;
  justify-self: center;
  height: 100%;
  @include adaptive(margin-bottom, 434, 400);
}
.subtitle {
  color: $secondaryColor;
  @extend %fz-24-30;
  @include adaptive(margin-bottom, 67, 16);
  @include adaptive(width, 475, 172);
}
.bodyWrapper {
  box-sizing: border-box;
  @include adaptivePadding(padding, 98, 116, 34, 44);
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(30px);
  position: relative;
  z-index: 5;
}

.title {
  position: relative;
  z-index: 1;
}

.imgWrapper {
  object-fit: cover;
  @include adaptive(width, 926, 304);
  @include adaptive(height, 710, 108);
  position: relative;
}

.imgBlock {
  @include adaptive(width, 926, 304);
  @include adaptive(height, 710, 108);
  position: absolute;
  right: 0;
  @include adaptive(top, 600, 800);
  @include adaptive(left, 85, -445);
  transform: translateY(-50%);
  object-fit: contain;
  z-index: 1;
}

.mobileBlock {
  position: absolute;
  @include adaptive(width, 236, 77);
  @include adaptive(height, 449, 147);
  @include adaptive(top, 40, 590);
  @include adaptive(left, 230, -400);
  z-index: 0;
}

.mobile {
  position: absolute;
  object-fit: contain;
  @include adaptive(width, 236, 79);
  @include adaptive(height, 449, 147);
  top: 0;
  @include adaptive(top, 0, 20);
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: bounce-1;
  animation-timing-function: ease;
}

.mobile1Part {
  position: absolute;
  @include adaptive(top, 25, 5);
  @include adaptive(left, -50, -10);
  @include adaptive(width, 101, 33);
  @include adaptive(height, 94, 31);
  object-fit: contain;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: bounce-2;
  animation-timing-function: ease;
}

.mobile2Part {
  position: absolute;
  @include adaptive(top, 120, 40);
  @include adaptive(left, 170, 59);
  @include adaptive(width, 168, 55);
  @include adaptive(height, 127, 42);
  object-fit: contain;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: bounce-2;
  animation-timing-function: ease;
}

.mobile3Part {
  position: absolute;
  @include adaptive(top, 250, 80);
  @include adaptive(left, -50, -10);
  @include adaptive(width, 168, 55);
  @include adaptive(height, 127, 42);
  object-fit: contain;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: bounce-2;
  animation-timing-function: ease;
}

.mobile4Part {
  position: absolute;
  @include adaptive(top, 350, 127);
  @include adaptive(left, 140, 59);
  @include adaptive(width, 168, 45);
  @include adaptive(height, 127, 25);
  object-fit: contain;
  z-index: 1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: bounce-2;
  animation-timing-function: ease;
}

@media screen and (max-width: 768px) {
  .header {
    @include adaptive(margin-bottom, 100, 58);
  }
  .body {
    display: flex;
    flex-direction: column;
    @include adaptive(margin-bottom, 531, 429);
  }

  .imgBlock {
    @include adaptive(top, 531, 389);
    @include adaptive(left, 330, 9);
  }
  .mobileBlock {
    @include adaptive(top, 500, -130);
    @include adaptive(left, 700, -30);
  }

  .mobile {
    @include adaptive(top, -550, 330);
    @include adaptive(left, -200, 100);
  }

  .mobile1Part {
    @include adaptive(top, -530, 335);
    @include adaptive(left, -250, 85);
  }

  .mobile2Part {
    @include adaptive(top, -450, 365);
    @include adaptive(left, -50, 155);
  }

  .mobile3Part {
    @include adaptive(top, -340, 410);
    @include adaptive(left, -250, 85);
  }

  .mobile4Part {
    @include adaptive(top, -190, 450);
    @include adaptive(left, -50, 145);
  }
}
